/* ====================  
Basic Layout
====================  */
* {
    box-sizing: border-box;
}

body {
    margin: auto;
    /* expands background color width */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

.pointer,
a {
    cursor: pointer;
}

.flex {
    display: flex;
}

.site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.site-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* ====================  
Loading Animation
====================  */
.keyVisualSection,
.allProducts,
.itemContainer,
.cartProductPic {
    background-image: url(../images/loading.gif);
    background-repeat: no-repeat;
    background-position: center;
}

/* ====================  
Facebook Button
====================  */
.fb_iframe_widget iframe {
    opacity: 0.01;
    height: 35px;
    top: 15px;
}

.iconMember:hover{
    background-image: url(../images/member-hover.png);
}

.iconMember {
    background-image: url(../images/member.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

/* ====================
Nav Bar
==================== */
header {
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
}
.container {
    position: relative;
    top: 100px;
    margin-bottom: 130px;
}

nav {
    padding: 1.5rem 3rem;
    height: 80px;
    align-items: center;
    background-color: white;
}

nav .logo {
    height: 3rem; 
}

.navProductCategory {
    padding-left: 50px;
    font-size: 1.25rem;
    letter-spacing: 1.5rem;
}

.navProductCategory a:not(:last-child) {
    border-right: 1px solid #3f3a3a;
}

.navProductCategory>.catg:hover,
.navProductCategory>.catg.currentCategory {
    color: #8b572a;
}

.navProductCategory a {
    margin-left: 25px;
}

.navProductCategory-mobile a,
.myFooter-mobile,
.navFeature-mobile {
    display: none;
}

.navFeature {
    display: flex;
    right: 15px;
    position: absolute;
    align-items: center;
  }

.searchContainer {
    padding: 0 5px;
    height: 40px;
}

.searchInput:focus{
    background-color: rgb(237,236,242);
}

.searchInput:hover {
    background-image: url("../images/search-hover.png");
}

.searchInput {
    border: solid 1px #979797;
    border-radius: 20px;
    color: #8b572a;
    font-size: 1rem;
    background-image: url("../images/search.png");
    background-position: right;
    background-repeat: no-repeat;
    background-color: transparent;
    width: 200px;
    padding-left: 10px;
}

.searchSubmit {
    display: none;
}

.iconCart,
.iconMember {
    margin-left: 10px;
    width: 44px;
    height: 44px;
    object-fit: contain;
}

.iconCart:hover{
    background-image: url(../images/cart-hover.png);
}
.iconCart {
    background-image: url(../images/cart.png);
}

.cartValStyle,
.navFeature-mobile .cartValStyle-mobile {
    background-color: #8b572a;
    color: white;
    text-align: center;
    border-radius: 50%;
    opacity: 0.9;
    width: 25px;
    height: 25px;
    line-height: 25px;
    margin-top: 20px;
    margin-left: 20px;
}

.navProductCategory-mobile {
    width: 100%;
    height: 20px;
    background-color: rgb(49,53,56);
    border: 0;
    margin: 0;
}

/* ==================== 
Footer
==================== */
footer {
    width: 100%;
    height: 115px;
    background-color: rgb(49,53,56);
    bottom: 0;
}

.myFooter {
    height: 100%;
    max-width: 1000px;
    width: 90%;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}

.myFooter>.footerResource {
    justify-content: space-evenly;
    align-items: baseline;
}

.myFooter-mobile .footerResource-mobile1 a:hover,
.myFooter-mobile .footerResource-mobile2 a:hover,
.myFooter .footerResource a:hover {
    color: #c49871;    
}

.myFooter .footerResource a {
    text-align: center;
    width: 120px;
    text-decoration: none;
    font-family: PingFangTC;
    color: #f5f5f5;
}

.myFooter .footerResource a:not(:last-child) {
    border-right: 1px solid #f5f5f5;
}

.myFooter .footerSocialLinks {
    justify-content: flex-end;
}

.myFooter .footerSocialLinks a {
    padding-right: 1rem;
}

.myFooter .footerSocialLinks p {
    font-family: PingFangTC;
    font-size: 12px;
    color: #828282;
}

/* ==================== 
Media Query 
====================  */
@media (max-width: 1000px) {
/* Changes:
1. Product Category
2. Search Bar
3. Shopping Cart & Member
*/
    .navProductCategory,
    .iconCart,
    .iconMember{
        display: none;
    }
    nav {
        display: flex;
        justify-content: center;
        height: 90px;
    }
    nav .logo {
        flex: auto;
        margin: auto;
        height: 2.5rem;
    }
    .searchInput {
        border: none;
        width: 50px;
        color: transparent;
    }
    .searchInput.open {
        display: block;
        width: 500px;
        background-color: white;
        border: solid 1px #979797;
        padding: 0 10px;
        color: #8b572a;
    }
    .navFeature.open {
        right: auto;
        display: flex;
    }
    .navProductCategory-mobile {
        align-items: center;
        height: 50px;
    }
    .navProductCategory-mobile>.catg {
        display: inline;
        color: #828282;
        border-right: 1px solid #828282;
        flex: auto;
        text-align: center;
        font-size: 1.5rem;
    }
    .navProductCategory-mobile>.catg:hover,
    .navProductCategory-mobile>.catg.currentCategory {
        color: white;
    }
    .navProductCategory-mobile a:last-child {
        border-right: none;
    }
    .navFeature-mobile {
        background-color: rgb(49,53,56);
        color: #ffffff;
        display: flex;
        position: fixed;
        width: 100%;
        bottom: 0;
        padding: 10px 0px;
        align-items: center;
        vertical-align: middle;
    }
    .navFeature-mobile img,
    .navFeature-mobile .cart-mobile  {
        vertical-align: middle;
    }
    .navFeature-mobile a,
    .navFeature-mobile div {
        text-decoration: none;
        color: #ffffff;
        display: inline-block;
        flex: auto;
        text-align: center;
    }
    .navFeature-mobile a {
        border-right: 1px solid #f5f5f5;
    }
    .navFeature-mobile .cart-mobile {
        display: inline-block;
        background-image: url(../images/cart-mobile.png);
        background-repeat: no-repeat;
        background-position: center center;
        width: 40px;
        height: 40px;
    }
    
    .navFeature-mobile .iconMember-mobile {
        line-height: 44px;
    }
    .navFeature-mobile .iconMember-mobile .fbIcon-mobile {
        background-image: url(../images/member-mobile.png);
        width: 40px;
        height: 40px;
    }
    .fb_iframe_widget iframe {
        top: 0;
    }
    footer {
        font-size: .8rem;
        padding: 50px 0 100px 0;
    }
    .myFooter .footerResource {
        width: 55%;
    }
}

@media (max-width: 800px) {
    .myFooter {
        display: none;
    }
    footer {
        height: 200px;
        padding-top: 20px;
        padding-bottom: 150px;
    }
    .myFooter-mobile {
        max-width: 75%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        line-height: 2em;
    }
    .myFooter-mobile .footerResource-mobile1 a,
    .myFooter-mobile .footerResource-mobile2 a {
        text-decoration: none;
        font-family: PingFangTC;
        color: #f5f5f5;
    }
    .myFooter-mobile .footerResource-mobile1,
    .myFooter-mobile .footerResource-mobile2 {
        flex-direction: column;
        margin: 0 auto;
    }
    .myFooter-mobile .footerResource-mobile1 {
        order: 1;
        width: 30%;;
    }
    .myFooter-mobile .footerResource-mobile2 {
        order: 2;
        width: 33%;
    }
    .myFooter-mobile .footerSocialLinks {
        display: flex;
        order: 3;
        align-items: center;
        width: 33%;
    }
    .myFooter-mobile .footerSocialLinks a {
        padding: 8px;
    }
    .myFooter-mobile .footerSocialLinks img {
        height: 1.25rem;
    }
    .myFooter-mobile .footerCopyright {
        width: 100%;
        font-family: PingFangTC;
        color: #828282;
        order: 4;
        text-align: center;
    }
}

@media (max-width: 600px) {
/* Changes: onClick Search Bar Width */
    .searchInput.open {
        width: 300px;
    }
}