/* ====================  
Thank you Page
====================  */
.orderMsg {
    border: 1px solid black;
    margin: 50px auto;
    max-width: 800px;
    height: 500px;
    text-align: center;
    vertical-align: middle;
    font-size: 30px;
}

/* ====================  
Home Page: Campaign
====================  */
.keyVisualSection {
    width: 100%;
    height: 30rem;
    position: relative;
}

.campaign {
    display: none
}

.campaign.current {
    display: block;
    width: 100%;
    height: 30rem;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
}

.campaignLink {
    position: absolute;
    width: 100%;
    height: 100%;
}

.campaignStory {
    width: 300px;
    height: 200px;
    font-size: 1.5rem;
    line-height: 1.9;
    position: absolute;
    left: 20%;
    bottom: 20%;
}

.campaignStep {
    position:absolute;
    text-align:center;
    bottom: 5px;
    width: 100%;
}

.campaignCircle {
    width: 10px;
    height: 10px;
    margin: 0px 10px;
    border-radius: 50%;
    background-color: #979797;
    display: inline-block;
    vertical-align: middle;
}
.campaignCircle.current {
    background-color: black;
}

/* ====================  
Home Page: Product Dispaly
====================  */
main>.allProducts {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 20px auto;
    justify-content: center;
    line-height: 2rem;
    letter-spacing: 0.25rem;
}
main>.allProducts .productContainer {
    width: 28%;
    margin: 2%;
}

main>.allProducts .productContainer .productImage {
    width: 100%;
}

main>.allProducts .productContainer .allColors .colorChip {
    width: 1rem;
    height: 1rem;
    display: inline-block;
    margin-right: .5rem;
    box-shadow: 0 0 2px #bbbbbb;
}

/* ==================== 
Media Query 
====================  */
@media (max-width: 800px) {
/* Changes: Product Display Row (from 3 -> 2 items) */
    .campaign {
        height: 20rem;
    }
    main .allProducts .productContainer {
        width: 45%;
        margin: 1%;
    }
}
@media (max-width: 800px) {
/* Chagnes: CampaignStory Position */
    .campaignStory {
        left: 10%;
        bottom: 30%;
    }
}

