/* main {
    background-image: url(https://images.unsplash.com/photo-1460467820054-c87ab43e9b59?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1322&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.5;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    height: 100%;
    background-position: center;
} */
.profileContainer {
    font-size: 2rem;
    flex-wrap: wrap;
    /* outline: 1px solid black; */
    width: 600px;
    margin: auto;
    padding: 50px 20px;
    
}
.profileContainer>div:first-child {
    width: 100%;
    margin-bottom: 10px;
}
.fbLeft {
    width: 35%; 
    /* outline: 1px solid black; */    
}
.fbLeft img {
    width: 100%;
}
.fbRight {
    width: 60%;
    /* outline: 1px solid black; */
    font-size: 1.5rem;
    line-height: 50px;
    margin-left: 10px;
}

@media (max-width: 600px) {
    .profileContainer {
        flex-wrap: wrap;
        width: 300px;
    }
    .fbLeft,
    .fbRight {
        width: 100%;
    }
    .fbRight {
        margin: 0;
    }
 
}

/* <main>

    <div class="profileContainer">

      <div class="fbLeft">
        <img src="" alt="">
      </div>
      <div class="fbRight">
        <div class="fbName">fb name</div>
        <div class="fbEmail">fb email</div>
      </div>
      
    </div>

  </main> */