.backgroundImg {
    background-image: url(https://images.pexels.com/photos/2395249/pexels-photo-2395249.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.profileContainer {
    font-size: 1.5rem;
    flex-wrap: wrap;
    width: 500px;
    margin: auto;
    padding: 20px;
    flex-wrap: wrap;
    background: rgba(255, 255, 255, 0.6);
    opacity: 0.8;
}

.fbLeft{
    width: 40%;
    display: inline-block;
}
.fbLeft>img {
    width: 100%;
    height: 200px;
    outline: none;
}
.fbRight {
    width: 55%;
    display: inline-block;
    margin-left: 10px;
    line-height: 50px;

}

@media (max-width: 600px) {
    .profileContainer {
        flex-wrap: wrap;
        width: 300px;
    }
    .fbLeft,
    .fbRight {
        width: 100%;
    }
    .fbRight {
        margin: 0;
    }
 
}

/* <main>

    <div class="profileContainer">

      <div class="fbLeft">
        <img src="" alt="">
      </div>
      <div class="fbRight">
        <div class="fbName">fb name</div>
        <div class="fbEmail">fb email</div>
      </div>
      
    </div>

  </main> */